{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.6.0"},
  jiffy,
  {uuid, "1.8.0", {pkg, uuid_erl}},
  {mysql, "1.6.0"},
  {worker_pool, "4.0.1"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [fintech]}
]}.

{ct_opts, [{sys_config, ["config/sys.config"]}]}.

{xref_checks, [undefined_function_calls]}.

{dialyzer, [{plt_apps, all_deps},
            {warnings, [no_unused, error_handling, no_return]}]}.

{plugins, [{erl_tidy_prv_fmt, ".*", {git, "git://github.com/tsloughter/erl_tidy.git", {branch, "master"}}}]}.

{fmt_opts, [
  {auto_list_comp, false},
  {keep_unused, true}
]}.


{relx,
 [{release, {fintech, {semver, ""}},
   [
    fintech
   ]},
  {dev_mode, false},
  {include_erts, true},
  {sys_config, "config/sys.config"},
  {extended_start_script, true}
 ]}.

{profiles,
 [{test, [
          {deps, [meck]}
         ]},
 {prod, [{relx, [{sys_config, "config/sys.config"},
                 {dev_mode, false},
                 {include_erts, true},
                 {include_src, false},
                 {debug_info, strip}
                ]}]}
 ]}.